{% extends 'layout.html' %}
{% block css %}
#autobookerDiv {
    display:none;
}

#loadingBar {
    display:table-row;
}

#loadingBar > * {
    display:table-cell;
    width: 100px;
    height: 10px;
    border: 2px solid black;

}

.currentLoadingSegment {
    background-color: blue;
}


.inactiveLoadingSegment {
    background-color: red;
}

.completedLoadingSegment {
    background-color: green;
}

{% endblock %}
{% block content %}
<h1>Homepage</h1>
<div id="header">
    <div id="loadingBar">
        <div id="loadingSegment1" class="currentLoadingSegment"></div>
        <div id="loadingSegment2" class="inactiveLoadingSegment"></div>
        <div id="loadingSegment3" class="inactiveLoadingSegment"></div>
        <div id="loadingSegment4" class="inactiveLoadingSegment"></div>
        <div id="loadingSegment5" class="inactiveLoadingSegment"></div>
        <div id="loadingSegment6" class="inactiveLoadingSegment"></div>
        <div id="loadingSegment7" class="inactiveLoadingSegment"></div>
        <div id="loadingSegment8" class="inactiveLoadingSegment"></div>
    </div>

    <div id="autobookerDiv">
        <div>
            <h1>Form</h1>
        </div>
        <div>
            <form id="autobookerForm" method="POST" action="/booking_summary">
                <div>
                    <fieldset id="autobookerIndex"></fieldset>
                </div>
                <div>
                    <p>The bookings above will be made when the countdown ends.</p>
                </div>
                <div>
                    <h1 id="countdown"></h1>
                </div>
                <div>
                    <button></button>
                    <button type="submit">Proceed</button>
                    <button></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="weekSummary">

</div>
{% endblock %}