<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
        {% block css %}{% endblock %}
    </style>
</head>

<body>
    {% block content %}{% endblock %}
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='socketio.js') }}"></script>
    <script src="{{ url_for('static', filename=scriptName) }}"></script>
    <script>{% block script %}{% endblock %}</script>
</body>
</html>